@model passion_project.Models.tag
    @{
        ViewBag.Title = "Show";
    }
    <div style="float:left; border:2px solid black;width:25%;height:50em;margin:1em;padding:2em;background-color:black">
        <ul>
            <li>
                <a href="https://localhost:44344/post/List" style="color:yellow;">Knowledge Jar</a>
                <ul>
                    <li><a href="https://localhost:44344/post/Add" style="color:yellow">Add More</a></li>
                </ul>
            </li>
            <li>
                <a style="color:yellow;" href="https://localhost:44344/user/List">Users</a>
                <ul>
                    <li><a href="https://localhost:44344/user/Add" style="color:yellow">Sign Up</a></li>
                </ul>
            </li>
            <li>
                <a href="https://localhost:44344/tag/List" style="color:yellow">Tags</a>
                <ul>
                    <li><a href="https://localhost:44344/tag/Add" style="color:yellow">Create Tags</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="float:right; border:2px solid black;width:70%;height:50em;margin:1em;padding:2em;background-color:lightgrey">
        <div style="margin-top:1em;color:forestgreen;font-size:x-large">Detail of @Model.tag_name</div>
        <div style="margin-left:5em">@Model.tag_description</div>
        
        <div class="btn-warning" style="margin:1em;font-size:20px;text-align:center">
            <a href="/tag/Update/@Model.tag_id">Update</a>
        </div>
        <div class="btn-warning" style="margin:1em;font-size:20px;text-align:center">
            <a href="/tag/Delete/@Model.tag_id">Delete</a>
        </div>
    </div>

